body {
  background: #000;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
  border: none;
  font-family: Arial;
  font-size: 12px;
  line-height: 1;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  outline: none;
  font-family: Arial;
  font-size: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  outline: none;
}

a:hover {
  text-decoration: none;
}

h1, h2 {
  font-size: 20px;
  padding: 0 0 10px 0;
  color: #545454;
}

body {
  background-image: url(../images/body.jpg);
  background-position: center;
  background-size: cover;
}

.mainer {
  max-width: 1110px;
  padding: 0 15px;
  margin: 0 auto;
}

.svg-icon {
  display: block;
  width: 24px;
  height: 24px;
}

.svg-icon--size {
  width: 15px;
  height: 15px;
}

.table-block::after {
  content: "";
  position: absolute;
  left: -15px;
  top: 0;
  width: calc(100% + 30px);
  height: 100%;
}

.table {
  min-height: 1800px;
  margin: 50px 0;
  padding: 250px 15px 15px 15px;
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-size: cover;
  border: 10px solid #310505;
  border-radius: 10px;
  position: relative;
}

.table #caption {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  font-size: 64px;
  font-weight: bold;
  letter-spacing: 5px;
  color: #fff;
  text-shadow: 0 0 40px #000;
  text-align: center;
  text-transform: uppercase;
  display: none;
}

.table .start-card {
  position: absolute;
  top: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 144.5px;
  height: 221px;
  background-image: url(../images/rubashka.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  border: 1px solid #000;
  z-index: 100;
  cursor: pointer;
}

.table .start {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
}

.table .move {
  -webkit-animation: move 0.2s ease-out;
          animation: move 0.2s ease-out;
}

.table .card {
  height: 221px;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  margin: 15px 0;
  cursor: pointer;
}

.table .card--dark {
  color: black;
}

.table .card--light {
  color: red;
}

.table .card__front, .table .card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #000;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.table .card__front {
  background-image: url(../images/rubashka.jpg);
  background-size: cover;
  background-position: center;
}

.table .card__front:hover {
  -webkit-box-shadow: 0 0 15px yellow;
          box-shadow: 0 0 15px yellow;
}

.table .card__back {
  padding: 20px;
  background-image: linear-gradient(45deg, #858585 0%, #aab4b5 15%, #ebf1fe 50%, #aab4b5 85%, #858585 100%);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  position: relative;
}

.table .card__back .number {
  position: absolute;
  font-size: 20px;
  text-align: center;
}

.table .card__back .number--tl {
  top: 5px;
  left: 5px;
}

.table .card__back .number--tr {
  top: 5px;
  right: 5px;
}

.table .card__back .number--br {
  bottom: 5px;
  right: 5px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.table .card__back .number--bl {
  bottom: 5px;
  left: 5px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.table .card__back .number div {
  font-size: 32px;
  line-height: 20px;
}

.table .card__back .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  height: 100%;
}

.table .card__back .picture .suit {
  width: 50%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 5px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table .card__back .picture .suit--rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.table .card__back .picture .suit--rotate-between {
  position: absolute;
  left: 50%;
  bottom: 45px;
  -webkit-transform: translateX(-50%) rotate(180deg);
          transform: translateX(-50%) rotate(180deg);
}

.table .card__back .picture .suit--rotate-between-center {
  position: absolute;
  left: 50%;
  bottom: 30px;
  -webkit-transform: translateX(-50%) rotate(180deg);
          transform: translateX(-50%) rotate(180deg);
}

.table .card__back .picture .suit--between {
  position: absolute;
  left: 50%;
  top: 45px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.table .card__back .picture .suit--center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.table .card__back .picture .suit--between-center {
  position: absolute;
  left: 50%;
  top: 30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.table .card__back .picture .tuz {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 100px;
}

.table .card__back .picture .img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.table .card__back .picture .img--jd {
  background-image: url(../images/targaryen/j.jpg);
}

.table .card__back .picture .img--qd {
  background-image: url(../images/targaryen/q.jpg);
}

.table .card__back .picture .img--kd {
  background-image: url(../images/targaryen/k.jpg);
}

.table .card__back .picture .img--td {
  background-image: url(../images/house/targaryen-house.svg);
}

.table .card__back .picture .img--jl {
  background-image: url(../images/Lannister/j.jpg);
}

.table .card__back .picture .img--ql {
  background-image: url(../images/Lannister/q.jpg);
}

.table .card__back .picture .img--kl {
  background-image: url(../images/Lannister/k.jpg);
}

.table .card__back .picture .img--tl {
  background-image: url(../images/house/lannister-house.svg);
}

.table .card__back .picture .img--js {
  background-image: url(../images/stark/j.jpg);
}

.table .card__back .picture .img--qs {
  background-image: url(../images/stark/q.jpg);
}

.table .card__back .picture .img--ks {
  background-image: url(../images/stark/k.jpeg);
}

.table .card__back .picture .img--ts {
  background-image: url(../images/house/stark-house.svg);
}

.table .card__back .picture .img--jt {
  background-image: url(../images/tyrell/j.jpg);
}

.table .card__back .picture .img--qt {
  background-image: url(../images/tyrell/q.jpg);
}

.table .card__back .picture .img--kt {
  background-image: url(../images/tyrell/k.jpg);
}

.table .card__back .picture .img--tt {
  background-image: url(../images/house/tyrell-house.svg);
}

.modal {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal.hidden {
  display: none;
}

.modal__caption {
  /* position: absolute;
        top: 0;
        left: 0;
        transform: translateY(100%);
        width: 100%; */
  font-size: 64px;
  font-weight: bold;
  letter-spacing: 5px;
  color: #fff;
  text-shadow: 0 0 40px #000;
  text-align: center;
  text-transform: uppercase;
}

.modal .body {
  border-radius: 4px;
  padding: 15px;
  max-width: 1110px;
  margin: 15px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  text-align: center;
}

.modal .close {
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  z-index: 10;
}

.animate__animated.animate__swing {
  --animate-duration: 3s;
  --animation-delay: 2s;
}

@-webkit-keyframes move {
  from {
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes move {
  from {
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes cardRotate {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-40px, -20px);
            transform: translate(-40px, -20px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes cardRotate {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-40px, -20px);
            transform: translate(-40px, -20px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
/*# sourceMappingURL=style.css.map */