@import '_reset';

body {
    background-image: url(../images/body.jpg);
    background-position: center;
    background-size: cover;
}
.mainer {
    max-width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
}
.svg-icon {
    display: block;
    width: 24px;
    height: 24px;

    &--size {
        width: 15px;
        height: 15px;
    }
}
.table-block {
    
    &::after {
        content: "";
        position: absolute;
        left: -15px;
        top: 0;
        width: calc(100% + 30px);
        height: 100%;
    }
}
.table {
    min-height: 1800px;
    margin: 50px 0;
    padding: 250px 15px 15px 15px;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    border: 10px solid rgb(49, 5, 5);
    border-radius: 10px;
    position: relative;
    
    & #caption {
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        font-size: 64px;
        font-weight: bold;
        letter-spacing: 5px;
        color: #fff;
        text-shadow: 0 0 40px #000;
        text-align: center;
        text-transform: uppercase;
        display: none;
    }
    .start-card {
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
        width: 144.5px;
        height: 221px;
        background-image: url(../images/rubashka.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 4px;
        border: 1px solid #000;
        z-index: 100;
        cursor: pointer;
    }
    .start {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }
    .move {
        animation: move 0.2s ease-out;
    }
    .card {
        height: 221px;
        position: relative;
        perspective: 1000px;
        margin: 15px 0;
        cursor: pointer;
        
        &--dark { color: black; }
        &--light { color: red; }
        &__front, &__back {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            border: 1px solid #000;   
            transition-duration: 1s;  
            backface-visibility: hidden;       
        }
        &__front {
            background-image: url(../images/rubashka.jpg);
            background-size: cover;
            background-position: center;

            &:hover {
                box-shadow: 0 0 15px yellow;
            }
        }
        &__back {
            padding: 20px;
            background-image: linear-gradient(45deg, rgba(133,133,133,1) 0%, rgba(170,180,181,1) 15%, rgba(235,241,254,1) 50%, rgba(170,180,181,1) 85%, rgba(133,133,133,1) 100%);
            transform: rotateY(180deg);
            position: relative;

            .number {
                position: absolute;
                font-size: 20px;  
                text-align: center;
                
                &--tl { top: 5px; left: 5px; }
                &--tr { top: 5px; right: 5px; }
                &--br { bottom: 5px; right: 5px; transform: rotate(180deg); }
                &--bl { bottom: 5px; left: 5px; transform: rotate(180deg); }
                div { font-size: 32px; line-height: 20px; }
            }
            .picture {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                position: relative;
                height: 100%;

                .suit {
                    width: 50%;
                    height: max-content;
                    margin: 5px 0;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &--rotate { transform: rotate(180deg); }
                    &--rotate-between {
                        position: absolute;
                        left: 50%;
                        bottom: 45px;
                        transform: translateX(-50%) rotate(180deg);
                    }

                    &--rotate-between-center {
                        position: absolute;
                        left: 50%;
                        bottom: 30px;
                        transform: translateX(-50%) rotate(180deg);
                    }
                    &--between {
                        position: absolute;
                        left: 50%;
                        top: 45px;
                        transform: translateX(-50%);
                    }
                    &--center {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                    &--between-center {
                        position: absolute;
                        left: 50%;
                        top: 30px;
                        transform: translateX(-50%);
                    }                    
                }
                .tuz {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 100px;
                }
                .img {
                    width: 100%;
                    height: 100%;
                    background-position: center;
                    background-repeat: no-repeat;

                    &--jd { background-image: url(../images/targaryen/j.jpg); }
                    &--qd { background-image: url(../images/targaryen/q.jpg); }
                    &--kd { background-image: url(../images/targaryen/k.jpg); }
                    &--td { background-image: url(../images/house/targaryen-house.svg); }
                    &--jl { background-image: url(../images/Lannister/j.jpg); }
                    &--ql { background-image: url(../images/Lannister/q.jpg); }
                    &--kl { background-image: url(../images/Lannister/k.jpg); }
                    &--tl { background-image: url(../images/house/lannister-house.svg); }
                    &--js { background-image: url(../images/stark/j.jpg); }
                    &--qs { background-image: url(../images/stark/q.jpg); }
                    &--ks { background-image: url(../images/stark/k.jpeg); }
                    &--ts { background-image: url(../images/house/stark-house.svg); }
                    &--jt { background-image: url(../images/tyrell/j.jpg); }
                    &--qt { background-image: url(../images/tyrell/q.jpg); }
                    &--kt { background-image: url(../images/tyrell/k.jpg); }
                    &--tt { background-image: url(../images/house/tyrell-house.svg); }
                }
            }
        }
    }
}
.modal {
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    &.hidden {
        display: none;
    }
    &__caption {
        /* position: absolute;
        top: 0;
        left: 0;
        transform: translateY(100%);
        width: 100%; */
        font-size: 64px;
        font-weight: bold;
        letter-spacing: 5px;
        color: #fff;
        text-shadow: 0 0 40px #000;
        text-align: center;
        text-transform: uppercase;
    }
    .body {
        border-radius: 4px;
        padding: 15px;
        max-width: 1110px;
        margin: 15px auto;
        box-sizing: border-box;
        position: relative;
        transform: translateY(20%);
        text-align: center;
    }
    .close {
        padding: 5px 15px;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
        z-index: 10;
    }
    
}
.animate__animated.animate__swing {
    --animate-duration: 3s;
    --animation-delay: 2s;
}
@keyframes move {
    from {
        transform: translate(50%, -50%);
    }
    to {
        transform: translate(0, 0);
    }
}
@keyframes cardRotate {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-40px, -20px);
    }
    100% {
        transform: translate(0, 0);
    }
}